
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="hero-wrap " style="background-image: url('/Content/images/banner3.png'); height: 700px !important ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center" style="margin-top: 200px" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>Information</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Update Information</h1>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.Msg != null)
{
    if (ViewBag.Msg == "1")
    {
        <script>
            swal({
                title: 'Update information Successfully!',
                /* text: 'Redirecting...', */
                icon: 'success',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    }
}
<section class="ftco-section ftco-degree-bg">
    <div class="container-fluid">
        <form method="POST" action="/PublicInformation/Add" class="register-form" id="register-form" enctype="multipart/form-data">
            <div class="col">
                <div class="row">
                    @{ var idInformation = ViewBag.information != null ? ViewBag.information.idInformation : 0;
                       
                    }
                    <input type="hidden" value="@idInformation" name="idInformation"/>
                    <div class="col-6 mb-3">
                        @{ var nameStr = ViewBag.information != null ? ViewBag.information.name : null;
                            var emailStr = ViewBag.information != null ? ViewBag.information.email : null;
                            var phoneNumberStr = ViewBag.information != null ? ViewBag.information.phoneNumber : null;
                            var idPosition = ViewBag.information != null ? ViewBag.information.idPosition : null;
                            var namePosition = ViewBag.information != null ? ViewBag.information.Position.name : null;
                        }
                        <label for="category-film"
                               class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="category-film" value="@nameStr" name="name" required>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="category-film"
                               class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="category-film" value="@emailStr" name="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <p for="category-film"
                           class="col-form-label">Position:</p>
                        <select class="form-select" style="width: 100%; height: 50px; border-color: #CCCCCC" aria-label="Default select example" id="theloai" tabindex="8" name="idPosition" required>
                            <option selected value="@idPosition">@namePosition</option>
                            @foreach (var item3 in ViewBag.positions)
                            {
                                <option value="@item3.idPosition">@item3.name</option>
                            }
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="category-film"
                               class="col-form-label">Phone number:</label>
                        <input type="text" class="form-control" value="@phoneNumberStr" id="category-film" name="phoneNumber" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-success">Update </button>
            </div>
        </form>
    </div>
</section>


